#color{
    background-color: rgb(255, 255, 255);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}


#color .container .colorGenarator{
    margin: 7px 7px;
    text-align: center;
    padding: 200px 300px;
    background-color: rgb(43, 223, 226);
    font-size: 20px;
    font-weight: 600;
    border: 3px dashed red;

}

#color .container .but{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 10px;

}


.newColor{
    padding: 8px 10px;
    border-color: blueviolet;
}
